:root {
    --md-default-fg-color: rgba(255,255,255,.87);
    --md-default-fg-color--light: rgba(255,255,255,.54);
    --md-default-fg-color--lighter: rgba(255,255,255,.32);
    --md-default-fg-color--lightest: rgba(255,255,255,.07);
    --md-default-bg-color: #151515;
    --md-default-bg-color--light: hsla(0,0%,100%,.7);
    --md-default-bg-color--lighter: hsla(0,0%,100%,.3);
    --md-default-bg-color--lightest: hsla(0,0%,100%,.12);
    --md-primary-fg-color: #4051b5;
    --md-primary-fg-color--light: #5d6cc0;
    --md-primary-fg-color--dark: #303fa1;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: hsla(0,0%,100%,.7);
    --md-accent-fg-color: #526cfe;
    --md-accent-fg-color--transparent: rgba(82,108,254,.1);
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: hsla(0,0%,100%,.7);
    --md-shadow-z1: 0 0.2rem 0.5rem rgba(0,0,0,.05),0 0 0.05rem rgba(0,0,0,.1);
    --md-shadow-z2: 0 0.2rem 0.5rem rgba(0,0,0,.1),0 0 0.05rem rgba(0,0,0,.25);
    --md-shadow-z3: 0 0.2rem 0.5rem rgba(0,0,0,.2),0 0 0.05rem rgba(0,0,0,.35);
}

.md-content__inner > .md-content__button:first-child {
	display: none;
}
